<div class="container-fluid">
  <% if user_signed_in? %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="bg-ligth p-4">
        <h4 class="text-dark">Hi <%= current_user.name %></h4>
      </div>
    </div>
  <% else %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="bg-ligth p-4">
        <h4 class="text-dark">Personal Stash</h4>
        <span class="text-muted">Here to help you grow!</span>
      </div>
    </div>
  <% end %>
  <nav class="navbar navbar-dark bg-blue">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <%= button_to "Logout", destroy_user_session_path, method: :delete, class:"btn btn-bold" %>
  </nav>
</div>
